.form-container {
  min-height: 25rem;
  display: flex;
  background: rgba(200, 200, 200, 0.6);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-form {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:768px){
  .form-container {
    min-height: 20rem;
  }
}