.SuperheroSheet {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.SuperheroSheet-hero {
  width: 50rem;
  height: 40rem;
  background: rgba(200, 200, 200, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SuperheroSheet-img {
  height: 20rem;
  width: auto;
}

.SuperheroSheet-profile {
  padding: 1rem 1rem 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width:600px){
  .SuperheroSheet-hero {
    padding-top: 1rem;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
  }
}